name: check.yml

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: format
        run: cargo fmt --check --all
      - name: clippy
        run: cargo clippy --all-features --workspace
      - name: test
        run: cargo test --verbose --all-features --workspace

