name: publish
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: publish
        run: |
          cargo publish --package entrust-dialog --token ${{ secrets.CRATES_PUBLISH_TOKEN }}
          cargo publish --package entrust-agent --token ${{ secrets.CRATES_PUBLISH_TOKEN }}
          cargo publish --package entrust-core --token ${{ secrets.CRATES_PUBLISH_TOKEN }}
          cargo publish --package entrust --token ${{ secrets.CRATES_PUBLISH_TOKEN }}
